:root {
    --chat-color: rgba(255, 255, 255, 0.45);
    --message-user-color: #7452F1;
    --message-user-content-color: #FFF;
    --message-bot-color: #EEEAFC;
    --message-bot-content-color: #7452F1;
    --message-input-wrapper-color: #EEEAFC;
    --input-text-color: black;
    --message-button-color: #EEEAFC;
    --end-line: #7452F1;
    --input-wrapper-border-color: rgba(0, 0, 0, 0);
}

.chat-window-wrapper[data-theme='dark'] {
    --chat-color: rgba(255, 255, 255, 0.07);
    --message-user-color: #291E53;
    --message-user-content-color: #EEEAFC;
    --message-bot-color: #8766FF;
    --message-bot-content-color: #EEEAFC;
    --message-input-wrapper-color: rgba(255, 255, 255, 0);
    --input-text-color: #EEEAFC;
    --message-button-color: rgba(255, 255, 255, 0);
    --end-line: #291E53;
    --input-wrapper-border-color: #8766FF;
}

.chat-window-wrapper {
    width: 32vw; 
    max-height: 90vh;
    margin-top: 20px;
    padding-top: 10px;
    display: flex;
    flex-direction: column;
    background: var(--chat-color, rgba(255, 255, 255, 0.45));
    border-radius: 48px;
    
}

.top-overflow {
    border-bottom: 1px solid var(--end-line, #7452F1);
    margin-top: 10px;
}

.chat-content {
    height: 90vh;
    overflow-y: auto;
}

.messages {
    margin-top: 20px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    z-index: 1;
}

.chat-content::-webkit-scrollbar {
    display: none;
}


.message-box {
    margin: 10px auto;
}

.user-message-wrapper
 {
    margin-right: 20px;
    
 }

.bot-message-wrapper {
    margin-left: 20px;
    
}

.message {
    padding: 5px 10px;
    max-width: 25vw;
    z-index: 2;
    border-radius: 10px;
    text-align: left;
    font-size: 0.8vw;
}

.message-from-user {
    background-color: var(--message-user-color, #7452F1);
}

.message-from-bot {
    background-color: var(--message-bot-color, #EEEAFC);
}

.user-message-content {
    color: var(--message-user-content-color, #EEEAFC);
    padding: 5px 0;
    word-break: break-word;
}

.bot-message-content {
    color: var(--message-bot-content-color, #7452F1);
    padding: 5px 0;
    word-break: break-word;
}

.bot-message-content>span>a {
    color: var(--message-bot-content)
}

.input-outline {
    padding-top: 1vh;
    border-top: solid 1px var(--end-line, #7452F1);
}

.message-input-wrapper {
    display: flex;
    max-width: 28vw;
    margin-bottom: 1vh;
    margin-left: auto;
    margin-right: auto;
    border-radius: 18px;
    background-color: var(--message-input-wrapper-color, #EEEAFC);
    border: 3px solid var(--input-wrapper-border-color, rgba(0, 0, 0, 0));
}

.message-input {
    background-color: var(--message-input-wrapper-color, #EEEAFC);
    word-break: break-word;
    display: block;
    width: 100%;
    margin-top: 5px;
    margin-left: 1vw;
    font-size: 0.8vw;
    border: 0;
    outline: none;
    resize: none
    
}

textarea {
    font: inherit;
    color: var(--input-text-color, black);
}

.message-input::-webkit-scrollbar {
    display: none;
}

.message-button {
    margin-right: 10px;
    cursor: pointer;
    border: none;
    background-color: var(--message-button-color, #EEEAFC);
}

@media (max-device-width: 500px) {
    .chat-content {
        height: 800px;
    }
    .send {
        width: 30px;
    }
    .chat-window-wrapper {
        width: 100vw;
    }
    .message-input {
        font-size: 10pt

    }

    .message-input-wrapper {
        max-width: 70vw;
    }

    .message {
        font-size: 10pt;
        max-width: 70vw;
        
    }
    .message-box {
        z-index: 1;
    }
    .message-input-wrapper {
        height: 5vh;
    }
}
