h1 {
    max-width: 300px;
    margin-top: 20px;
    font-size: 24pt;
    color: #EEEAFC;
}

.left-column {
    position: relative;
    margin-right: 8vh;
}

.left-column-buttons {
    display: flex;
}

.left-column-buttons div {
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.45);
    fill: solid;
    margin-top: 16px;
}

.moon {
    margin-right: 8px;
}

.glasses {
    margin-left: 8px;
}



.character {
    position: absolute;
    margin-top: 70px;
    left: -8px;
    height: 70vh;
}


/* @media (min-width: 2400px) {
    .character {
        height: 1005px;
    }
}

@media (min-width: 1600px) and (max-width: 2000px) { 
    .character {
        height: 800px;
    }
} */