:root {
    --button-color: rgba(255, 255, 255, 0.45);
    --heading-color: #EEEAFC;
    --hover-color: rgba(255, 255, 255, 0.7);
    --active-color: rgba(255, 255, 255, 0.3);
    --border-color: rgb(238, 234, 252);

}

.left-column[data-theme="dark"] {
    --button-color: #544B75;
    --heading-color: rgba(255, 255, 255, 0.87);
    --hover-color: rgba(255, 255, 255, 0.7);
    --active-color: rgba(255, 255, 255, 0.3);
    --border-color: #8766FF;

}

.left-column {
    position: relative;
    /* margin-left: 1vw; */
    margin-right: 1vw;
}

.heading {
    font-size: 30pt;
    max-width: 200px;
    margin-top: 20px;
    font-size: 24pt;
    color: var(--heading-color, #EEEAFC);
}

.left-column-buttons {
    display: flex;
}

.left-column-buttons div {
    border-radius: 10px;
    background-color: var(--button-color, rgba(255, 255, 255, 0.45));
    border: 2px solid rgba(0, 0, 0, 0);
    margin-top: 16px;
}

.theme {
    margin-right: 8px;
}

.glasses {
    margin-left: 8px;
}

.hover:hover {
    cursor: pointer;
    border-color: var(--border-color, rgba(0, 0, 0, 0));
}

.character {
    /* position: absolute; */
    margin-top: 20px;
    margin-left: -8px;
    height: 70vh;
}