:root {
    --ad-header-color: rgba(255, 255, 255, 0.45);
    --ad-header-text-color: #6038F1;
    --ad-color: rgba(255, 255, 255, 0.45);
    --ad-text-color: black;
    --social-border-color: #D3C9FB;
    --social-border: 1px;
}

.right-column[data-theme='dark'] {
    --ad-header-color: none;
    --ad-header-text-color: rgba(238, 234, 252, 0.87);
    --ad-header-border: 3px solid #8766FF;
    --ad-color: rgba(255, 255, 255, 0.10);
    --ad-text-color: #EEEAFC;
    --social-border-color: rgba(135, 102, 255, 0.3);
    --social-border: 3px;
    --ad-border-color: #8766FF;
}

.right-column {
    margin-top: 20px;
    margin-left: 3vh;
    width: 272px;
}

.ad-list-header {
    height: 46px;
    background: var(--ad-header-color, rgba(255, 255, 255, 0.45));
    border: var(--ad-header-border, none);
    border-radius: 10px;
    text-align: center;
}

.ad-list-header>span {
    color: var(--ad-header-text-color, #6038F1);
    line-height: 46px;
    font-size: 24px;
}

.ad {
    margin-top: 15px;
    margin-bottom: 15px;
    background: var(--ad-color, rgba(255, 255, 255, 0.45));
    border-radius: 17px;
    text-align: center;
}

.right-column[data-theme='dark']>div>div[class='ad']:hover {
    border: 3px solid var(--ad-border-color, #D3C9FB);
}

.ad p {
    line-height: 30px;
    color: var(--ad-text-color, black);
}

.social-wrapper {
    display: flex;
    justify-content: space-around;
    height: 50px;
    border: var(--social-border, 1px) solid var(--social-border-color, #D3C9FB);
    border-radius: 17px;
    text-align: center;
    margin-top: 36px;
}

.social-wrapper a {
    padding-top: 10px;
}

.smol-youtube {
    height: 30px;
    width: 30px;
}

.logos {
    display: flex;
    justify-content: space-around;
    margin-top: 10px;
}

.reflex-logo {
    border-radius: 10px;
    width: 120px;
    height: 120px;
}

.yfu-logo {
    width: 120px;
    height: 120px;
}

.zen-logo {
    width: 30px;
    height: 30px;
}