:root {
    --ad-header-color: rgba(255, 255, 255, 0.45);
    --ad-header-border: 3px solid rgba(0, 0, 0, 0);
    --ad-header-text-color: #6038F1;
    --ad-color: rgba(255, 255, 255, 0.45);
    --social-border-color: #D3C9FB;
    --social-border: 2px;
    --ad-border-color: rgb(238, 234, 252);
}

.right-column[data-theme='dark'] {
    --ad-header-color: none;
    --ad-header-text-color: rgba(238, 234, 252, 0.87);
    --ad-header-border: 3px solid #8766FF;
    --ad-color: rgba(255, 255, 255, 0.10);
    --social-border-color: rgba(135, 102, 255, 0.3);
    --ad-border-color: #8766FF;
}

a, a:active, a:visited{
    text-decoration: none;
    color: rgba(238, 234, 252, 0.87);
    line-height: 25px;
}

.right-column {
    
    margin-top: 20px;
    margin-left: 1vw;
    width: 13.75vw;
}

.ad-list-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.ad-list-header {
    width: 13.45vw;
    height: 3.5vh;
    margin-bottom: 15px;
    background: var(--ad-header-color, rgba(255, 255, 255, 0.45));
    border: var(--ad-header-border, none);
    border-radius: 10px;
    text-align: center;
}

.ad-list-header>span {
    line-height: 3.5vh;
    color: var(--ad-header-text-color, #6038F1);
    font-size: 1vw;
}

.ad {
    width: 13vw;
    height: fit-content;
    margin: 15px 0;
    padding: 5px;
    background: var(--ad-color, rgba(255, 255, 255, 0.45));
    border: 3px solid rgba(0, 0, 0, 0);
    border-radius: 17px;
    text-align: center;
}

a {
	font-size: 0.4vw;
	overflow-wrap: break-word;
}

.social-wrapper {
    padding: 0 5px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 50px;
    border: var(--social-border, 1px) solid var(--social-border-color, #D3C9FB);
    border-radius: 17px;
    margin-top: 15px;
}


.smol-youtube {
    /* margin-top: -0.4vh; */
    width: 1.9vw;
}

.zen-logo {
    width: 1.3vw;
}

.telegram-logo {
    width: 1.3vw;
}

.vk-logo {
    width: 1.3vw;
}

.logos {
    display: flex;
    justify-content: space-around;
    margin-top: 10px;
}

.reflex-logo {
    border-radius: 10px;
    width: 6vw;
}

.yfu-logo {
    width: 6vw;
}